# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [2]:
!pwd
!ls -al data

/Users/flatironschooldc3/FlatironSchoolRepo/dc-ds-111819/module-1/day-6-pandas-3
total 40
drwxr-xr-x  5 flatironschooldc3  staff    160 Nov 25 09:36 .
drwxr-xr-x  5 flatironschooldc3  staff    160 Nov 25 09:39 ..
-rw-r--r--  1 flatironschooldc3  staff     95 Nov 25 09:36 ds_chars.csv
-rwxr-xr-x  1 flatironschooldc3  staff  11328 Nov 25 09:36 heart.csv
-rw-r--r--  1 flatironschooldc3  staff    130 Nov 25 09:36 states.csv

In [3]:
import pandas as pd
uci = pd.read_csv('data/heart.csv')

In [4]:
uci.head()

# index is a pandas bject that gets added

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [6]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [7]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [5]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

# uci.drop(['ca','thal'], inplce=True) -- but better to define uci2!

# both info and describe give count of values/number of observations or records

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [14]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

# uci.dtypes.values -- gives df objects

# print(type(uci.dtypes)) -- results in series!

# does not provide count of non-null objects per index within the df

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [15]:
uci.ca.mean()

# uci.ca is series object

0.7293729372937293

#### The Axis Variable

In [16]:
uci.sum() # Try [shift] + [tab] here!

# axis = 0 is default -- add every index for each column

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [22]:
# uci.columns = [x for x in uci.columns] produces same

uci.columns = ["uci_" + x.lower().replace(" ", "_") for x in uci.columns]
uci.head()

# go through names of columns and reassign to API compliant, produce new list

,uci_age,uci_sex,uci_cp,uci_trestbps,uci_chol,uci_fbs,uci_restecg,uci_thalach,uci_exang,uci_oldpeak,uci_slope,uci_ca,uci_thal,uci_target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [17]:
uci['age'].value_counts()[:10]

# how many there are of each observation
# already sorted
# 19 counts of age = 58

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [27]:
# Your code here!
uci['uci_restecg'].value_counts()

# or .unique() -- provides array of unique values rather than count of each

1    152
0    147
2      4
Name: uci_restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [28]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [29]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111744 entries, 0 to 111743
Data columns (total 12 columns):
Animal ID           111744 non-null object
Name                76505 non-null object
DateTime            111744 non-null object
MonthYear           111744 non-null object
Date of Birth       111744 non-null object
Outcome Type        111736 non-null object
Outcome Subtype     50868 non-null object
Animal Type         111744 non-null object
Sex upon Outcome    111740 non-null object
Age upon Outcome    111720 non-null object
Breed               111744 non-null object
Color               111744 non-null object
dtypes: object(12)
memory usage: 10.2+ MB

In [30]:
animal_outcomes.Breed.value_counts()

Domestic Shorthair Mix                       30466
Pit Bull Mix                                  8136
Labrador Retriever Mix                        6419
Chihuahua Shorthair Mix                       6064
Domestic Shorthair                            3975
                                             ...
Chickadee Mix                                    1
Miniature Poodle/Beagle                          1
Havana Brown Mix                                 1
West Highland/Soft Coated Wheaten Terrier        1
Shiba Inu/Dachshund                              1
Name: Breed, Length: 2504, dtype: int64

In [45]:
animal_outcomes.loc[(animal_outcomes["Animal Type"] == "Dog") & 
                    (animal_outcomes["Outcome Type"] == "Adoption")].Breed.value_counts()
# series objects understand the python operators & and |

Labrador Retriever Mix               3268
Pit Bull Mix                         3160
Chihuahua Shorthair Mix              2905
German Shepherd Mix                  1413
Australian Cattle Dog Mix             797
                                     ...
Catahoula/Greyhound                     1
Chinese Sharpei/Pit Bull                1
Collie Rough/Pembroke Welsh Corgi       1
Airedale Terrier/Irish Terrier          1
Cavalier Span/Chihuahua Longhair        1
Name: Breed, Length: 1630, dtype: int64

In [31]:
animal_outcomes["Outcome Type"].value_counts()

Adoption           48777
Transfer           33543
Return to Owner    19753
Euthanasia          7576
Died                1040
Rto-Adopt            519
Disposal             442
Missing               66
Relocate              20
Name: Outcome Type, dtype: int64

In [37]:
# age counts for dogs
animal_outcomes.loc[animal_outcomes["Animal Type"] == "Dog"
                   ]["Age upon Outcome"].value_counts()

# .loc is more exlicit than df(df[column])
# .ix functions as both .loc and .iloc

1 year       12337
2 years      11504
3 years       5164
2 months      4901
4 years       3212
5 years       2931
6 years       1973
1 month       1961
7 years       1664
8 years       1587
4 months      1530
5 months      1484
3 months      1482
6 months      1399
10 months     1259
8 months      1251
10 years      1197
7 months       929
9 years        913
9 months       822
12 years       580
11 months      548
11 years       499
13 years       356
14 years       239
4 weeks        228
15 years       187
2 weeks        177
1 weeks        169
3 weeks        127
16 years        90
2 days          88
1 week          81
1 day           64
0 years         55
17 years        39
6 days          37
5 days          32
3 days          30
5 weeks         27
18 years        22
4 days          19
19 years        14
-1 years         4
20 years         3
-3 years         1
24 years         1
Name: Age upon Outcome, dtype: int64

In [43]:
animal_outcomes.loc[animal_outcomes["Age upon Outcome"]== "-3 years"]

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
40045,A687107,Montopolis,02/25/2016 06:04:00 PM,02/25/2016 06:04:00 PM,03/17/2019,Return to Owner,NaN,Dog,Neutered Male,-3 years,Rhod Ridgeback,Red/Brown

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [46]:
def successor(x):
    return x + 1

In [47]:
uci.applymap(successor).head()
# .apply for just one column
# .applymap is to entire df

,uci_age,uci_sex,uci_cp,uci_trestbps,uci_chol,uci_fbs,uci_restecg,uci_thalach,uci_exang,uci_oldpeak,uci_slope,uci_ca,uci_thal,uci_target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

In [49]:
uci.applymap(str).info()
# uci.applymap(lambda x: str(x)).info() gives same

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
uci_age         303 non-null object
uci_sex         303 non-null object
uci_cp          303 non-null object
uci_trestbps    303 non-null object
uci_chol        303 non-null object
uci_fbs         303 non-null object
uci_restecg     303 non-null object
uci_thalach     303 non-null object
uci_exang       303 non-null object
uci_oldpeak     303 non-null object
uci_slope       303 non-null object
uci_ca          303 non-null object
uci_thal        303 non-null object
uci_target      303 non-null object
dtypes: object(14)
memory usage: 33.3+ KB

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [48]:
uci['uci_age'].map(successor).tail(10)
# series does not have applymap function
# map is built into python

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: uci_age, dtype: int64

In [50]:
for x in map(successor, [1,2,3]):
    print(x)
    # each element would need to be tuple since map can only have one input

2
3
4

In [57]:
for x in map(lambda x,y : x,x+1):
    print(x)

TypeError: 'int' object is not iterable

In [58]:
uci_new = uci.uci_age + uci.uci_sex
uci_new.head(2)

0    64
1    38
dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [61]:
uci['uci_oldpeak'].map(lambda x: round(x))[:4]
# old peak was only float value
# uci['uci_oldpeak'].map(lambda x: int(x))[:4]
# lambda's are great for simple functions, otherwise define new fxn
# def to_the_power(x):
    # return int(x)

0    2
1    4
2    1
3    1
Name: uci_oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [69]:
uci["uci_age"].apply(lambda x: str(x))[:10]
uci.uci_age.apply(str)[:10]
uci.uci_age.astype(str)[:10]

RecursionError: maximum recursion depth exceeded

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [73]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111744 entries, 0 to 111743
Data columns (total 12 columns):
Animal ID           111744 non-null object
Name                76505 non-null object
DateTime            111744 non-null object
MonthYear           111744 non-null object
Date of Birth       111744 non-null object
Outcome Type        111736 non-null object
Outcome Subtype     50868 non-null object
Animal Type         111744 non-null object
Sex upon Outcome    111740 non-null object
Age upon Outcome    111720 non-null object
Breed               111744 non-null object
Color               111744 non-null object
dtypes: object(12)
memory usage: 10.2+ MB

In [75]:
# Your code here
animal_outcomes[animal_outcomes["DateTime"]].to_datetime()

KeyError: "None of [Index(['02/17/2019 11:44:00 AM', '02/13/2016 05:59:00 PM',\n       '03/18/2014 11:47:00 AM', '10/18/2014 06:52:00 PM',\n       '08/05/2014 04:59:00 PM', '07/27/2014 09:00:00 AM',\n       '01/22/2017 11:56:00 AM', '06/11/2014 05:11:00 PM',\n       '03/16/2015 02:50:00 PM', '03/10/2019 12:25:00 PM',\n       ...\n       '12/10/2017 12:28:00 PM', '10/29/2018 09:35:00 AM',\n       '01/24/2018 12:00:00 AM', '09/17/2018 05:27:00 PM',\n       '12/09/2017 01:22:00 PM', '10/18/2017 01:27:00 PM',\n       '03/01/2018 06:28:00 PM', '06/23/2018 11:59:00 AM',\n       '05/21/2018 12:59:00 PM', '03/12/2018 01:27:00 PM'],\n      dtype='object', length=111744)] are in the [columns]"

In [82]:
import numpy as np

def str_to_age(x):
    if isinstance(x, str):
        if "years" in x:
            return int(x.split(' ')[0])*365
        if "months" in x:
            return int(x.split(' ')[0])*30
        else:
            return int(x.split(' ')[0])
    return x

animal_outcomes["Age upon Outcome"].apply(str_to_age)

TypeError: isinstance() arg 2 must be a type or tuple of types

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values='sex', columns='target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on='age',
          lsuffix='_A',
          rsuffix='_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)

In [ ]:
states = pd.read_csv('data/states.csv', index_col=0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here